.App {
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  flex: 1;
}

.App-body {
  flex: 6;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header-acronym {
  color: white;
  font-size: calc(50px + 2vmin)
}

.data-instance {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.data-instance-topic {
  min-width: 20vw;
}

.data-instance-score {
  max-width: 5vw;
  text-align: left;
}

.data-container {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  max-width: 40vw;
}

a.link-no-underline {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
