.term-window {
  font-size: 20px;
}

.term-window-bar {
  height: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.term-window-bar-btn {
  height: 1em;
  width: 1em;
  margin: 0.25em;
  border-radius: 50%;
}

.close-btn {
  background-color: green;
}

.min-btn {
  background-color: green;
}

.max-btn {
  background-color: green;
}

.term-body {
  height: 20em;
  width: 80em;
  background-color: gray;
  font-size: 1em;
}

.term-cwd {
  color: lime;
}

.term-delimiter {
  color: lightgray;
}

.term-cmd-in {
  color: white;
}

.term-cmd-out {
}
